@model RegAppMVC.Models.CourseRegistration

<!DOCTYPE html>
<html lang="en">
@Styles.Render("~/Content/css")
@Scripts.Render("~/Scripts/jquery")
<div><h1>Register For Courses</h1></div>
<div>@University.Global.currentError</div>
@using (Html.BeginForm("RegisterCourse", "Register"))
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Credit Hours</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Space Available</th>
                <th>Register For Course</th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model.courses)
            {
                <tr>
                    <td>@item.Value.ID</td>
                    <td>@item.Value.CourseName</td>
                    <td>@item.Value.creditHours</td>
                    <td>@item.Value.startTime.TimeOfDay</td>
                    <td>@item.Value.EndTime.TimeOfDay</td>
                    <td>@(University.Global.maxStudents - item.Value.GetStudentRoster().Count)</td>
                    @{if (University.Global.maxStudents - item.Value.GetStudentRoster().Count > 0 && Model.CheckForCourse(item.Value.ID) == false && Model.student.Credits + item.Value.creditHours <= University.Global.maxCredits)
                        {
                            <td>@Html.RadioButtonFor(x => x.CourseToAlter, item.Value.ID)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }

                </tr>

               }


        </tbody>
    </table>

    <input type="submit" class="btn btn-success" value="Add Course" />
 }                 
</html>
