@model University.Users.Student

<!DOCTYPE html>
<html lang="en">
@Styles.Render("~/Content/css")
@Scripts.Render("~/Scripts/jquery")
<div><h1>Course Schedule</h1></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Credit Hours</th>
            <th>Start Time</th>
            <th>End TIme</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model.GetSchedule())
        {
            <tr>
                <td>@item.Value.ID</td>
                <td>@item.Value.CourseName</td>
                <td>@item.Value.creditHours</td>
                <td>@item.Value.startTime.TimeOfDay</td>
        <td>@item.Value.EndTime.TimeOfDay</td>
        </tr>
        }
</table>
</tbody>
</html>

